@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #f9fafb;
    color: #111827;
  }

  html,
  body,
  #root {
    height: 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
